name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    
    runs-on: ubuntu-latest

    strategy:
      matrix:
        docker_tag:
          # CPU versions
          - base-torch1.8.2-cpu-python3.8
          #- base-torch1.12.1-cpu-python3.8
          #- base-torch1.12.1-cpu-python3.9
          #- base-torch1.12.1-cpu-python3.10
          # A few CUDA tests
          #- base-torch1.12.1-python3.8-cuda11.1.1-runtime-ubuntu20.04
          #- base-torch1.12.1-python3.9-cuda10.2-cudnn8-runtime-ubuntu18.04
          #- base-torch1.12.1-python3.10-cuda10.2-cudnn8-runtime-ubuntu20.04

    steps:
      -
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      -
        name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29

      -
        name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done
      
      - 
        name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v29
        with:
          files: |
            Dockerfile.${{ matrix.docker_tag }}

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        #if: steps.changed-files-specific.outputs.any_changed == 'true'
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        #if: steps.changed-files-specific.outputs.any_changed == 'true'
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        #if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: base - Build and push 
        uses: docker/build-push-action@v3
        #if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          file: Dockerfile.${{ matrix.docker_tag }} 
          push: true 
          tags: stffsc/cebra-testing:${{ matrix.docker_tag }}

      -
        name: devel - Build and push
        uses: docker/build-push-action@v3
        #if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          file: Dockerfile.template.devel
          push: false 
          tags: stffsc/cebra-testing:${{ matrix.docker_tag }}
          build_args:
            - BASEIMAGE: stffsc/cebra-testing:${{ matrix.docker_tag }}

